.categoryPage {
  h2 {
    margin: 20px 0 100px;
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", arial, sans-serif;
  }
  &__products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
